<form #form="ngForm" (ngSubmit)="onSubmit(); form.resetForm()">
    <div class="row">
        <label for="title">Title:</label>
        <input [class.invalid-input]="titleInput.invalid && titleInput.touched" type="text" name="title" id="title" #titleInput="ngModel" [(ngModel)]="title" required minlength="5">
        <p *ngIf="titleInput.invalid && titleInput.touched" class="error-message">*Title must be at least 5 characters long.</p>
    </div>
    <div class="row">
        <label for="description">Description:</label>
        <textarea [class.invalid-input]="descriptionInput.invalid && descriptionInput.touched" name="description" id="description" cols="30" rows="10" #descriptionInput="ngModel" [(ngModel)]="description" required minlength="7"></textarea>
        <p *ngIf="descriptionInput.invalid && descriptionInput.touched" class="error-message">*Description must be at least 7 characters long.</p>
    </div>
    <input [disabled]="descriptionInput.invalid || titleInput.invalid" type="submit" name="submit" id="submit" value="Create note">
</form>
